body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(136, 96, 174);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background-color: whitesmoke;
  padding: 40px 30px 70px;
  border-radius: 10px;
  max-width: 540px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: rgb(99, 9, 99);
}

.todo-list {
  background: #edeef0;
  border-radius: 10px;
  padding: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(45, 7, 80);
  color: blueviolet;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

li.checked {
  text-decoration: line-through;
  color: gray;
}

span {
  cursor: pointer;
}

button:hover {
  background-color: rgb(30, 5, 53);
  color: whitesmoke;
  border: none;
}
